@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap");

button.rec.rec-arrow {
  background-color: white;
  box-shadow: 0 0 1px 3px white;
}

button.rec.rec-arrow:hover {
  background-color: white;
  color: black;
}
button.rec.rec-arrow:disabled {
  visibility: hidden;
}
button.rec-dot_active {
  background-color: #72e485;
  box-shadow: 0 0 1px 3px #72e485;
}
button.rec-dot:focus,
button.rec-dot_active:focus,
button.rec-dot_active:hover {
  background-color: #72e485;
  box-shadow: 0 0 1px 3px #72e485;
}
